# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

# You can use it to add commands that run after AeroSpace startup.
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = []

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = false

# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

[key-mapping.key-notation-to-key-code]
  pplus = "rightSquareBracket"
  mminus = "slash"

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 0
    inner.vertical =   0
    outer.left =       0
    outer.bottom =     0
    outer.top =        0
    outer.right =      0


# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]

    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right

    # All possible modifiers: cmd, alt, ctrl, shift

    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # (like in i3)
    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Terminal"
    #     do script
    #     activate
    # end tell'
    # '''

    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    cmd-slash = 'layout tiles horizontal vertical'
    cmd-comma = 'layout accordion horizontal vertical'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    cmd-h = 'focus left --boundaries all-monitors-outer-frame'
    cmd-j = 'focus down --boundaries all-monitors-outer-frame'
    cmd-k = 'focus up --boundaries all-monitors-outer-frame'
    cmd-l = 'focus right --boundaries all-monitors-outer-frame'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    ctrl-cmd-h = 'move left --boundaries all-monitors-outer-frame'
    ctrl-cmd-j = 'move down --boundaries all-monitors-outer-frame'
    ctrl-cmd-k = 'move up --boundaries all-monitors-outer-frame'
    ctrl-cmd-l = 'move right --boundaries all-monitors-outer-frame'

    ctrl-cmd-up = 'fullscreen'
    ctrl-cmd-down = 'layout floating tiling'
    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    ctrl-cmd-mminus = 'resize smart -50'
    ctrl-cmd-pplus = 'resize smart +50'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    ctrl-cmd-1 = 'workspace 1'
    ctrl-cmd-2 = 'workspace 2'
    ctrl-cmd-3 = 'workspace 3'
    ctrl-cmd-4 = 'workspace 4'
    ctrl-cmd-5 = 'workspace 5'
    ctrl-cmd-6 = 'workspace 6'
    ctrl-cmd-7 = 'workspace 7'
    ctrl-cmd-8 = 'workspace 8'
    ctrl-cmd-9 = 'workspace 9'
    ctrl-cmd-0 = 'workspace 10'
    ctrl-cmd-m = "exec-and-forget ~/.local/bin/aerospace_open_if_empty m_Messanger \"open -na '/Applications/Slack.app'\""
    ctrl-cmd-n = "exec-and-forget ~/.local/bin/aerospace_open_if_empty n_Notes \"open -na '/Applications/Obsidian.app' 'obsidian://new?vault=GYG&file=$(date +%F).md'\""
    ctrl-cmd-y = "exec-and-forget ~/.local/bin/aerospace_open_if_empty z_Browser \"open -na '/Applications/Google Chrome.app'\""
    ctrl-cmd-i = "exec-and-forget ~/.local/bin/aerospace_open_if_empty i_Databricks \"open -na '/Applications/Google Chrome.app' --args --new-window https://dbc-d10db17d-b6c4.cloud.databricks.com\""
    ctrl-cmd-u = "exec-and-forget ~/.local/bin/aerospace_open_if_empty u_Terminal \"open -na '/Applications/WezTerm.app'\""



    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    # cmd-tab = 'workspace-back-and-forth'
    # See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
    ctrl-cmd-tab = 'move-workspace-to-monitor --wrap-around next'

    # See: https://nikitabobko.github.io/AeroSpace/commands#mode
    ctrl-cmd-space = 'mode service'

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
    esc = ['reload-config', 'mode main']
    cmd-r = ['flatten-workspace-tree', 'mode main'] # reset layout
    cmd-f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
    backspace = ['close-all-windows-but-current', 'mode main']

    left = ['join-with left', 'mode main']
    down = ['join-with down', 'mode main']
    up = ['join-with up', 'mode main']
    right = ['join-with right', 'mode main']

    # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
    #s = ['layout sticky tiling', 'mode main']

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    ctrl-1 = ['move-node-to-workspace 1', 'workspace 1', 'mode main']
    ctrl-2 = ['move-node-to-workspace 2', 'workspace 2', 'mode main']
    ctrl-3 = ['move-node-to-workspace 3', 'workspace 3', 'mode main']
    ctrl-4 = ['move-node-to-workspace 4', 'workspace 4', 'mode main']
    ctrl-5 = ['move-node-to-workspace 5', 'workspace 5', 'mode main']
    ctrl-6 = ['move-node-to-workspace 6', 'workspace 6', 'mode main']
    ctrl-7 = ['move-node-to-workspace 7', 'workspace 7', 'mode main']
    ctrl-8 = ['move-node-to-workspace 8', 'workspace 8', 'mode main']
    ctrl-9 = ['move-node-to-workspace 9', 'workspace 9', 'mode main']
    ctrl-0 = ['move-node-to-workspace 10', 'workspace 10', 'mode main']
    ctrl-m = ['move-node-to-workspace m_Messanger', 'workspace m_Messanger', 'mode main']
    ctrl-n = ['move-node-to-workspace n_Notes', 'workspace n_Notes', 'mode main']
    ctrl-y = ['move-node-to-workspace z_Browser', 'workspace z_Browser', 'mode main']
    ctrl-i = ['move-node-to-workspace i_Databricks', 'workspace i_Databricks', 'mode main']
    ctrl-u = ['move-node-to-workspace u_Terminal', 'workspace u_Terminal', 'mode main']


    1 = ['move-node-to-workspace 1', 'mode main']
    2 = ['move-node-to-workspace 2', 'mode main']
    3 = ['move-node-to-workspace 3', 'mode main']
    4 = ['move-node-to-workspace 4', 'mode main']
    5 = ['move-node-to-workspace 5', 'mode main']
    6 = ['move-node-to-workspace 6', 'mode main']
    7 = ['move-node-to-workspace 7', 'mode main']
    8 = ['move-node-to-workspace 8', 'mode main']
    9 = ['move-node-to-workspace 9', 'mode main']
    0 = ['move-node-to-workspace 10', 'mode main']
    m = ['move-node-to-workspace m_Messanger', 'mode main']
    n = ['move-node-to-workspace n_Notes', 'mode main']
    y = ['move-node-to-workspace z_Browser', 'mode main']
    i = ['move-node-to-workspace i_Databricks', 'mode main']
    u = ['move-node-to-workspace u_Terminal', 'mode main']

    # down = 'volume down'
    # up = 'volume up'
    # shift-down = ['volume set 0', 'mode main']
